project_id = "manicure_ia"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "auth"]
extra_search_path = ["public", "extensions"]

[db]
port = 54322
shadow_port = 54320

[studio]
enabled = true
port = 54323
api_port = 54324

[inbucket]
enabled = true
port = 54325
smtp_port = 54326
pop3_port = 54327
